<h1><strong><%= @list.name %></strong><h1>

<% @list.bookmarks.each do |bookmark| %>

<div class="cards"  style="width: 24rem; display: inline-block">
  <img class="card-img-top" src="https://picsum.photos/536/354" alt="Card image cap">
  <div class="card-body">
  <h4><strong><%= bookmark.movie.title %></strong></h4>
  <p class="card-text"><%= bookmark.comment %></p>
  </div>
</div>
<% end %>
<br>
<%= link_to "Add new Review", new_list_bookmark_path(@list) %>